body {
    min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #F9F6EE;
            font-family: Arial, sans-serif;
}
.calculator {
            background-color: #22252D;
            width: 150%;
            max-width: 350px;
            padding: 1rem;
            border-radius: 20px;
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
            margin: 15px;
}
#display {
    background-color: #2A2D37;
    align-items: center;
    color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: right;
    font-size: clamp(1.5rem, 4vw, 1rem);
    min-height: 60px;
    
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}
button {
    background-color: #2A2D37;
     color: #ffffff;
    border: none;
    padding: clamp(10px, 3vw, 15px);
    font-size: clamp(1rem, 3vw, 1.2rem);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
button:hover {
    background-color: #363B4B;
    transform: scale(0.98);
}
.operator {
    background-color: #FF9500;
}

.operator:hover {
    background-color: #FFB042;
}

